.drag-item {
  cursor: pointer;
  color: #4878c0;
  word-break: break-all;
}
.drag-item:link,
.drag-item:visited {
  text-decoration: none;
}
.drag-item:hover,
.drag-item:active {
  text-decoration: underline;
}

div.scroll-list {
  overflow: auto;
  max-height: 70vh;
}

.drag-over {
  border: #ff525b dashed 2px;
}

.drag-hint {
  border: #ffc100 dashed 2px;
}

.drag-target-border {
  border: #00bfff dashed 2px;
}

.drag-target-border-green {
  border: #3c763d dashed 2px;
}

/* Draggable*/

.drag-border {
  border: #ff525b dashed 2px;
}

.drag-handle {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.drag-handle:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

/* Droppable */

.drag-hint-border {
  border: #3c763d dashed 2px;
}

.drag-over-border {
  border: #fbbc05 dashed 2px;
}

.drag-transit {
  border: #3500FF dashed 2px;
}

/* api */
.ui.grid.api {
  margin-top: 0px;
  border: 0px;
}

.ui.grid.api .column {
  border: 0px;
}

.ui.grid.api .column .close {
  cursor: pointer;
  position: relative;
  top: -1.5rem;
  left: -0.5rem;
  font-size: 1.25em;
  width: 2.25rem;
  height: 2.25rem;
  padding: .625rem 0 0 0;
}
