<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.onycom.microservice.AnkusMapper">
 
    <select id="getNow" resultType="java.lang.String">
        SELECT NOW()
    </select>

    <select id="listMenu" parameterType="java.util.Map"  resultType="java.util.Map">
        SELECT m.*, p.name parent_menu,
        (select count(*) from tbl_menu where parent_id=m.id) child_cnt
        FROM tbl_menu m
        LEFT OUTER JOIN tbl_menu p ON m.parent_id=p.id 
        WHERE 1=1
        <if test="name != null and name != ''">
        AND m.name LIKE CONCAT('%',#{name},'%')
        </if>
        <if test="type != null and type.size() > 0 ">
        AND m.type IN 
        <foreach collection="type" index="index" item="item"  open="(" close=")" separator=",">
        #{item}
        </foreach>
        </if>
        <if test="value != null and value != ''">
        AND m.value LIKE CONCAT('%',#{value},'%')
        </if>
        ORDER BY m.seq
    </select>

	<insert id="addMenu" parameterType="java.util.Map">
		INSERT INTO tbl_menu
		(id,parent_id,name, type, value, seq, state)
		VALUES
		(#{id},#{parent_id},#{name},#{type},#{value},#{seq},#{state})
	</insert> 

	<update id="updateMenu" parameterType="java.util.Map">
		UPDATE tbl_menu
		SET name=#{name},
		 	parent_id=#{parent_id},
		 	type=#{type},
		 	value=#{value},
		 	seq=#{seq},
		 	state=#{state}
		WHERE id=#{id}
	</update>
	
	<delete id="deleteMenu" parameterType="java.util.Map">
		DELETE FROM tbl_menu
		WHERE id=#{id}
	</delete>
	
	<!-- 범용 CRUD -->
	<select id="listcountCommon" parameterType="java.util.Map"  resultType="Integer">
		select count(*) cnt from ${table}
		WHERE 1=1  
		<if test="conds != null and conds.size() > 0 ">
		AND
		<foreach collection="conds" index="index" item="column"  open="(" close=")" separator="AND">
		    <if test="cond_vals[index] != null and cond_vals[index].size() > 1 ">
	        ${column} IN 
	        <foreach collection="cond_vals[index]" index="idx" item="val"  open="(" close=")" separator=",">
	        #{val}
	        </foreach>
	        </if>
	        <if test="cond_vals[index] != null and cond_vals[index].size() == 1 ">
	        
 			<foreach collection="cond_vals[index]" index="idx" item="val"  open="(" close=")" separator=",">
	        ${column} LIKE CONCAT('%',#{val},'%')
	        </foreach>
	        </if>
	        <if test="cond_vals[index] != null and cond_vals[index].size() == 0 ">
	        true
	        </if>
	        
		</foreach>
		</if>
	</select>
	
	<select id="listCommon" parameterType="java.util.Map"  resultType="java.util.Map">
		select * from ${table}
		WHERE 1=1  
		<if test="conds != null and conds.size() > 0 ">
		AND
		<foreach collection="conds" index="index" item="column"  open="(" close=")" separator="AND">
		    <if test="cond_vals[index] != null and cond_vals[index].size() > 1 ">
	        ${column} IN 
	        <foreach collection="cond_vals[index]" index="idx" item="val"  open="(" close=")" separator=",">
	        #{val}
	        </foreach>
	        </if>
	        <if test="cond_vals[index] != null and cond_vals[index].size() == 1 ">
	        
 			<foreach collection="cond_vals[index]" index="idx" item="val"  open="(" close=")" separator=",">
	        ${column} LIKE CONCAT('%',#{val},'%')
	        </foreach>
	        </if>
	        <if test="cond_vals[index] != null and cond_vals[index].size() == 0 ">
	        true
	        </if>
	        
		</foreach>
		</if>
		<if test="orderby != null and orderby.size() > 0 ">
		ORDER BY 
		<foreach collection="orderby" index="idx" item="order"  open="" close="" separator=",">
		${order}
		</foreach>
		</if>
		<if test="groupby != null and groupby.size() > 0 ">
		GROUP BY 
		<foreach collection="groupby" index="idx" item="group"  open="" close="" separator=",">
		${group}
		</foreach>
		</if>
		
		<if test="recordstartindex != null">
		LIMIT ${recordstartindex}, ${pagesize}
		</if>
		
		
	</select>

	<insert id="addCommon" parameterType="java.util.Map">
		INSERT INTO  ${table}
		<foreach collection="columns" index="index" item="column"  open="(" close=")" separator=",">
		${column}
		</foreach>		
		VALUES
		<foreach collection="values" index="index" item="value"  open="(" close=")" separator=",">
		#{value}
		</foreach>
	</insert>
	
	<update id="updateCommon" parameterType="java.util.Map">
		UPDATE ${table}
		SET 
		<foreach collection="columns" index="index" item="column"  open="" close="" separator=",">
		${column} = #{values[${index}]}
		</foreach>
		<if test="conds != null ">		
		WHERE
		<foreach collection="conds" index="index" item="column"  open="(" close=")" separator="AND">
		${column} = #{cond_vals[${index}]}
		</foreach>
		</if>
	</update>

	<delete id="deleteCommon" parameterType="java.util.Map">
		DELETE FROM ${table}
		WHERE 
		<foreach collection="conds" index="index" item="column"  open="(" close=")" separator="AND">
		${column} = #{cond_vals[${index}]}
		</foreach>
	</delete>
	
	<select id="listDong" parameterType="java.util.Map"  resultType="java.util.Map">
		select *,not_alivecnt*100/cnt not_alive_ratio  from (
		select 법정동명 as dong,avg(quaters)*3 months, 
		sum(case when alive='Y' then 1 else 0 end ) alivecnt,
		sum(case when alive<![CDATA[ <> ]]>'Y' then 1 else 0 end ) not_alivecnt,
		count(*) cnt
		from bizplc_alive where 시도명=#{sido} group by 법정동명
		) r order by months desc	
	</select>
	
	<select id="listSangho" parameterType="java.util.Map"  resultType="java.util.Map">
		select 상호명 sangho, concat(도로명,' ', 건물본번지, ' ', 건물부번지) address,행정동명 hdong, 법정동명 bdong,위도 lat, 경도 lng, quaters*3 months, alive
		from bizplc_alive
		where 법정동명=#{dong} and ${category_name}=#{category}
	</select>

</mapper>