<h2 class="ui dividing header">
  <div class="ui big breadcrumb">
    <div class="active section">마이크로서비스 앱 개발 가이드</div>
  </div>
</h2>

<div class="ui main container">

  <div class="box-wrap">

    <h2>마이크로서비스 기반 앱 개발 가이드 (Java Spring Cloud)</h2>
    <div class="ui divider"></div>
    <div class="ui pointing secondary menu">
      <a class="item active" data-tab="first">필수 체크</a>
      <a class="item" data-tab="second">DB 연동</a>
      <a class="item" data-tab="third">Redis 연동</a>
      <a class="item" data-tab="four">RabbitMQ 연동</a>
      <a class="item" data-tab="five">소스 예제</a>
    </div>

    <div class="ui tab active" data-tab="first">

      <div class="column">

        <h3 class="ui header">JAVA 버전</h3>
        <p>JAVA: 1.8이상, Spring Boot: 1.5.13, Spring Cloud: Edgware.RELEASE</p>
        <div class="ui floating message">
          <pre>
            {{java_version}}
          </pre>
        </div>

        <div class="ui divider"></div>
        <h3 class="ui header">manifest.yml</h3>
        <p>PAAS-TA를 통해 앱을 push 할때 사용하는 설정파일</p>
        <p>필수 환경설정변수 : msa </p>
        <div class="ui floating message">
          <pre>
---
applications:
  - name: front
    memory: 1G
    path: target/front-0.0.1-SNAPSHOT.jar
    env:
      <b>msa: yes</b></pre>
        </div>

        <div class="ui divider"></div>
        <h3 class="ui header">pom.xml</h3>
        <p>java spring cloud 기반 코딩을 위한 필수 dependency</p>
        <div class="ui floating message">
          <pre>
          {{first_pom}}
          </pre>
        </div>

        <div class="ui divider"></div>

        <h3 class="ui header">annotation</h3>
        <p>java spring cloud 의 eureka 기능 사용과 rest api 명세를 위한 swagger 필수 annotation </p>
        <p>@EnableDiscoveryClient, @EnableCircuitBreaker, @EnableSwagger2</p>
        <div class="ui floating message">
          <pre>
            {{first_java}}
          </pre>
        </div>

        <div class="ui divider"></div>

        <h3 class="ui header">application.properties</h3>
        <p>src/main/resources/application.properties</p>
        <div class="ui floating message">
        <pre>
spring.application.name=영문앱이름</pre>
        </div>

      </div>
    </div>

    <div class="ui tab" data-tab="second">
      <div class="column">
        <h3 class="ui header">pom.xml 추가</h3>
        <p>필수 dependency + 추가 dependency</p>
        <div class="ui floating message">
          <pre>
          {{mysql_pom}}
          </pre>
        </div>

        <div class="ui divider"></div>
        <h3 class="ui header">DBConfig.java</h3>
        <p>DB 접속 설정 소스</p>
        <div class="ui floating message">
          <pre>
          {{mysql_config_java}}
          </pre>
        </div>

        <div class="ui divider"></div>
        <h3 class="ui header">FrontContoller.java, FooService.java, FooRepository.java, User.java</h3>
        <p>DB 접속 예제</p>
        <div class="ui floating message">
          <pre>
          {{mysql_front1_java}}
          </pre>
        </div>
        <div class="ui floating message">
          <pre>
          {{mysql_front2_java}}
          </pre>
        </div>
        <div class="ui floating message">
          <pre>
          {{mysql_front3_java}}
          </pre>
        </div>
        <div class="ui floating message">
          <pre>
          {{mysql_front4_java}}
          </pre>
        </div>

        <div class="ui divider"></div>
        <h3 class="ui header">application.properties</h3>
        <p>설정 파일</p>
        <div class="ui floating message">
          <pre>
spring.application.name=project
spring.profiles.active=cloud
spring.jpa.hibernate.ddl-auto=update
          </pre>
        </div>

      </div>
    </div>

    <div class="ui tab" data-tab="third">
      <div class="column">
        <h3 class="ui header">pom.xml 추가</h3>
        <p>필수 dependency + 추가 dependency</p>
        <div class="ui floating message">
          <pre>
            {{redis_pom}}
          </pre>
        </div>

        <div class="ui divider"></div>
        <h3 class="ui header">RedisConfig.java</h3>
        <p>Redis 접속 설정 소스</p>
        <div class="ui floating message">
          <pre>
          {{redis_config_java}}
          </pre>
        </div>

        <div class="ui divider"></div>
        <h3 class="ui header">FrontController.java</h3>
        <p>Redis 접속 예제</p>
        <div class="ui floating message">
          <pre>
          {{redis_front_java}}
          </pre>
        </div>

        <div class="ui divider"></div>
        <h3 class="ui header">application.properties</h3>
        <p>설정 파일</p>
        <div class="ui floating message">
          <pre>
spring.application.name=project
spring.session.store-type=redis
spring.profiles.active=cloud
          </pre>
        </div>
      </div>
    </div>

    <div class="ui tab" data-tab="four">
      <div class="column">
        <h3 class="ui header">pom.xml 추가</h3>
        <p>필수 dependency + 추가 dependency</p>
        <div class="ui floating message">
          <pre>
            {{rabbitmq_pom}}
          </pre>
        </div>

        <div class="ui divider"></div>
        <h3 class="ui header">RabbitConfig.java</h3>
        <p>RabbitMQ 접속 설정 소스</p>
        <div class="ui floating message">
          <pre>
          {{rabbitmq_config_java}}
          </pre>
        </div>

        <div class="ui divider"></div>
        <h3 class="ui header">FrontController.java, Receiver.java, Sender.java</h3>
        <p>RabbitMQ 접속 예제</p>
        <div class="ui floating message">
          <pre>
          {{rabbitmq_front1_java}}
          </pre>
        </div>
        <div class="ui floating message">
          <pre>
          {{rabbitmq_front2_java}}
          </pre>
        </div>
        <div class="ui floating message">
          <pre>
          {{rabbitmq_front3_java}}
          </pre>
        </div>

        <div class="ui divider"></div>
        <h3 class="ui header">application.properties</h3>
        <p>설정 파일</p>
        <div class="ui floating message">
          <pre>
spring.application.name=project
          </pre>
        </div>
      </div>
    </div>




    <!-- source -->
    <div class="ui tab" data-tab="five">
      <div>
        <a class="ui labeled icon button" href="/public/assets/code/frontend.zip" target="_blank">
          <i class="download icon"></i>
          frontend Download ZIP
        </a>
        <a class="ui labeled icon button" href="/public/assets/code/backend.zip" target="_blank">
          <i class="download icon"></i>
          backend Download ZIP
        </a>
      </div>

      <div class="ui stackable celled grid">
        <div class="five wide column explorer">
          <div id="explorer" #explorer>
          </div>
        </div>
        <div class="eleven wide column">
          <codemirror [(ngModel)]="text" [config]="codeconfig"></codemirror>
        </div>
      </div>
    </div>

  </div>

</div>


