#explorer {
  height: 550px;
  width: 300px;
  overflow: auto;
}

.five.wide.column.explorer {
  position: inherit;
  width: 300px !important;
}

.box-wrap {
  font-size: 17px;
  font-weight: 400;
}

b {color: red;}
