<h2 class="ui dividing header">
  <div class="ui big breadcrumb">
    <div class="active section">마이크로서비스 목록</div>
  </div>
</h2>

<div class="ui main container">

  <div class="box-wrap">

    <div class="ui stackable grid">
      <div class="column">
        <div class="ui small icon input">
          <input type="text" placeholder="Name Search..." [(ngModel)]="searchName">
          <i class="search icon"></i>
        </div>
        <a class="ui right floated primary button submit" routerLink="/create" routerLinkActive="active">
          추가
        </a>
      </div>
    </div>

    <div class="ui divider"></div>

    <div class="ui link three stackable cards">
      <div class="card black"  *ngFor="let micro of (micros | searchFilter:searchName)">
        <div class="content">
          <div class="right floated ui orange basic1 mini label" [class.orange]="micro.status.startsWith('STOP')">{{micro.status}} </div>
          <a class="header" routerLink="/detail/{{micro.id}}" routerLinkActive="active">{{micro.name}}</a>
        </div>
        <div class="image">
          <svg height="100%" width="100%">
            <line stroke="rgba(178,178,178,1)" stroke-width="1" stroke-opacity="0.3" [attr.x1]="[item.x1]" [attr.y1]="[item.y1]" [attr.x2]="[item.x2]" [attr.y2]="[item.y2]" *ngFor="let item of micro.links" />
            <circle [attr.cx]="[item.x]" [attr.cy]="[item.y]" r="6" [attr.fill]="[item.fill]" *ngFor="let item of micro.circles"></circle>
          </svg>
        </div>
        <div class="content">

          <div class="meta">
            <p><i class="building icon"></i> {{micro.orgName}} / {{micro.spaceName}}</p>
            <p><i class="home icon"></i> http://{{micro.url}}</p>
          </div>
          <div class="description">
            <p><i class="question circle outline icon"></i> {{micro.description}}</p>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            ver. {{micro.version}}
          </span>
          <span>
            {{micro.app}} app
          </span>
          <!--&nbsp;-->
          <!--<span class="ui star rating right">-->
            <!--<i class="icon active"></i>-->
            <!--<i class="icon"></i>-->
            <!--<i class="icon"></i>-->
            <!--<i class="icon"></i>-->
            <!--<i class="icon"></i>-->
          <!--</span>-->
        </div>
      </div>
    </div>

    <div class="ui divider"></div>

    <div class="ui stackable grid">
      <div class="column">
        <button class="fluid ui button" (click)="more()" [hidden]="isEnd">
          <i class="icon angle down"></i>
          more
        </button>
      </div>
    </div>



  </div>
</div>
