<div class="ui form" [class.fullscreen-form]="isFullScreen">
  <button class="ui compact icon basic button active" (click)="start()">
    <i class="play icon"></i>
  </button>
  <button class="ui compact icon basic button"  (click)="stop()">
    <i class="pause icon"></i>
  </button>
  <div class="ui divider"></div>
  <div class="field">
    <label>App</label>
    <select class="ui fluid dropdown" [(ngModel)]="selectApp" (ngModelChange)="stopNstart()">
      <option value=""> </option>
      <option value="{{app.appGuid}}" *ngFor="let app of (apps)" [ngValue]="app">{{app.appName}}</option>
    </select>
  </div>
  <div class="field console">
    <label>Console <i (click)="toggleConsole()" [ngClass]="consoleIcon"></i></label>
    <div class="console-area" #console id="console" [class.fullscreen-div]="isFullScreen" [class.white]="isStop">
      <ul id="messages">
        <li  *ngFor="let message of messages"><span class="appName">[{{message.timestamp | date:'HH:mm:ss.SSS'}}] </span>{{message.message}}</li>
      </ul>
    </div>
  </div>
</div>
